@import 'core/variables';
@import 'core/reset';

.header {
  background-image: url(../images/hero.jpg);
  height: 150px;
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-shadow: 0px 0px 5px 1px grey;
  margin-left: 35px;
  margin-right: 35px;
  transform: translateY(-50%);
  background-color: white;
}
