@import 'core/variables';
@import 'core/reset';

.header {
  background-image: url(../images/hero.jpg);
  height: 150px;
  background-position: center;
  background-size: cover;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  box-shadow: 0px 0px 5px 1px grey;
  margin-left: 80px;
  margin-right: 80px;
  transform: translateY(-50%);
  background-color: white;
  height: 40px;
  .js-input {
    border: 2px solid $orange;
    width: 800px;
    padding: 4px;
    margin-right: 15px;
  }
  .js-input::placeholder {
    font-weight: bold;
  }
  .btn-search {
    background-color: $orange;
    color: white;
    font-size: 11px;
    border: none;
    padding: 7px;
    cursor: pointer;
  }
}
.main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  gap: 30px;
  margin-left: 35px;
  margin-right: 35px;
  .section-characters {
    width: 75vw;
    display: flex;
    flex-direction: column;
    &__title {
      color: $orange;
      text-align: center;
      padding: 15px;
      font-size: 14pt;
      font-weight: bold;
    }
  }
  .section-favorites {
    border-right: 1px solid $orange {

    }
    width: 25vw;
    display: flex;
    flex-direction: column;
    &__title {
      color: $orange;
      text-align: center;
      padding: 15px;
      font-size: 14pt;
      font-weight: bold;
    }
  }
  .js-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
  }
  .js-list-favorites {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
  .article {
    box-shadow: 0px 0px 5px 1px grey;
    padding: 10px;
    width: 140px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;
    cursor: pointer;
  }
  .article.selected {
    background-color: $selected-orange;
  }
  .icon {
    transform: translateX(350%);
    color: $orange;
    font-size: large;
  }
  .icon.hidden {
    display: none;
  }
  .characterPhoto {
    width: 140px;
    height: 150px;
  }
  .characterName {
    font-weight: bolder;
    color: $grey-character;
  }
  .characterStatus {
    margin-top: 5px;
    color: $grey-character;
  }
}
.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: $orange;
  color: white;
  text-align: center;
  line-height: 30px;
  font-size: small;
}
